In [24]:
#IST769 Midterm
#-----------------

# You will turn this file in along with screenshots as instructed on Blackboard

# YOUR NAME: Saiteja Namani
# YOUR EMAIL: snamani@syr.edu
# YOUR SUID: 7819937922

In [25]:
import pyspark
from pyspark.sql import SparkSession

user = "minio"
passwd = "SU2orange!"
s3_bucket = "gamestreams"
s3_server = "http://minio:9000"
s3_access_key = user
s3_secret_key = passwd
mongo_uri = f"mongodb://mongo:{passwd}@mongo:27017/admin?authSource=admin"
server_name = "jdbc:sqlserver://mssql"
database_name = "sidearmdb"
mssql_user = "sa"
mssql_pw = passwd
mssql_url = server_name + ";" + "databaseName=" + database_name + ";encrypt=true;trustServerCertificate=true;"

jars = [
    "org.apache.hadoop:hadoop-aws:3.1.2",
    "org.mongodb.spark:mongo-spark-connector_2.12:3.0.1",
    "com.microsoft.azure:spark-mssql-connector_2.12:1.2.0",
    "com.microsoft.sqlserver:mssql-jdbc:12.2.0.jre11"
]

spark = SparkSession.builder \
    .master("local") \
    .appName('jupyter-pyspark') \
        .config("spark.jars.packages",",".join(jars) )\
        .config("spark.hadoop.fs.s3a.endpoint", s3_server ) \
        .config("spark.hadoop.fs.s3a.access.key", s3_access_key) \
        .config("spark.hadoop.fs.s3a.secret.key", s3_secret_key) \
        .config("spark.hadoop.fs.s3a.fast.upload", True) \
        .config("spark.hadoop.fs.s3a.path.style.access", True) \
        .config("spark.hadoop.fs.s3a.impl", "org.apache.hadoop.fs.s3a.S3AFileSystem") \
        .config("spark.mongodb.input.uri", mongo_uri) \
        .config("spark.mongodb.output.uri", mongo_uri) \
    .getOrCreate()
sc = spark.sparkContext
sc.setLogLevel("ERROR") # Keeps the noise down!!!

In [26]:
# HOW TO READ FROM MSSQL
df = spark.read.format("com.microsoft.sqlserver.jdbc.spark") \
    .option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver") \
    .option("url", mssql_url) \
    .option("dbtable", "players") \
    .option("user", mssql_user) \
    .option("password", mssql_pw) \
    .load()

df.show()

+---+------+------+-----+-----+------+
| id|  name|number|shots|goals|teamid|
+---+------+------+-----+-----+------+
|  1|   sam|     6|   56|   23|   101|
|  2| sarah|     1|   85|   34|   101|
|  3| steve|     2|   60|   20|   101|
|  4| stone|    13|   33|   10|   101|
|  5|  sean|    17|   26|    9|   101|
|  6|   sly|     8|   78|   15|   101|
|  7|   sol|     9|   52|   20|   101|
|  8| shree|     4|   20|    4|   101|
|  9|shelly|    15|   10|    2|   101|
| 10| swede|    10|   90|   50|   101|
| 11| jimmy|     1|  100|   50|   205|
| 12| julie|     9|   10|    0|   205|
| 13| james|     2|   45|   15|   205|
| 14|  jane|    15|   82|   46|   205|
| 15| jimmy|    16|   42|   30|   205|
| 16| julie|     8|   67|   32|   205|
| 17| james|    17|   40|   14|   205|
| 18|  jane|     3|   91|   40|   205|
| 19| jimmy|     5|   78|   22|   205|
| 20| julie|    22|   83|   19|   205|
+---+------+------+-----+-----+------+

In [27]:
# HOW TO WRITE TO MSSQL
df.write.format("com.microsoft.sqlserver.jdbc.spark") \
    .option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver") \
    .mode("overwrite") \
    .option("url", mssql_url) \
    .option("dbtable", "players2") \
    .option("user", mssql_user) \
    .option("password", mssql_pw) \
    .save()

In [55]:
# TODO: Read the gamestream.txt from minio

df_min = spark.read.text("s3a://gamestreams/gamestream.txt")
df_min.show()

+-----------------+
|            value|
+-----------------+
|  0 59:51 101 2 0|
|  1 57:06 101 6 0|
|  2 56:13 205 8 1|
|  3 55:25 101 4 0|
|  4 55:03 101 1 1|
| 5 54:50 101 17 0|
|  6 54:14 205 8 0|
|  7 53:59 101 9 0|
|  8 53:23 101 2 0|
| 9 51:21 101 13 0|
| 10 49:55 101 1 1|
| 11 49:28 101 2 1|
|12 48:52 101 10 1|
| 13 47:52 101 4 1|
| 14 47:44 101 9 0|
| 15 46:38 101 2 0|
| 16 45:49 101 1 1|
| 17 45:31 101 4 0|
| 18 43:29 205 1 1|
| 19 41:54 205 1 1|
+-----------------+
only showing top 20 rows

In [6]:
#TODO: Write the gamestream to mongodb

In [ ]:
# ANSWERS TO EXAM QUESTIONS
# PLACE YOUR ANSWERS BELOW TURN THIS .ipynb FILE IN ALONG WITH SCREENSHOTS AS INSTRUCTED ON BLACKBOARD

# Q1 
SELECT
    teamData.name AS team_name,
    teamData.wins AS team_wins,
    teamData.losses AS team_losses,
    playerStats.name AS player_name,
    playerStats.shots AS player_shots,
    playerStats.goals AS player_goals
FROM
    mssql.`teams` AS teamData
INNER JOIN
    mssql.`players` AS playerStats ON teamData.id = playerStats.teamid;

# Q2
SELECT
    columns[0] AS team_ID,
    columns[1] AS jersey_number,
    columns[2] AS shots,
    columns[3] AS goals,
    columns[4] AS team_goals
FROM
    minio.`gamestream.txt`

In [56]:
# Q3
from pyspark.sql.window import Window
from pyspark.sql import functions as func

split_cols = func.split(df_min['value'],' ')

df_label = df_min \
    .withColumn('event_id', split_cols.getItem(0).cast('int')) \
    .withColumn('timestamp', split_cols.getItem(1)) \
    .withColumn('team_ID', split_cols.getItem(2).cast('int')) \
    .withColumn('jersey_number', split_cols.getItem(3).cast('int')) \
    .withColumn('goals', split_cols.getItem(4).cast('int'))

df_2 = df_label.drop('value')

df_2.write.format("mongo") \
    .mode("overwrite") \
    .option("database", "sidearm") \
    .option("collection", "boxscores") \
    .save()

df_2.show(80)

+--------+---------+-------+-------------+-----+
|event_id|timestamp|team_ID|jersey_number|goals|
+--------+---------+-------+-------------+-----+
|       0|    59:51|    101|            2|    0|
|       1|    57:06|    101|            6|    0|
|       2|    56:13|    205|            8|    1|
|       3|    55:25|    101|            4|    0|
|       4|    55:03|    101|            1|    1|
|       5|    54:50|    101|           17|    0|
|       6|    54:14|    205|            8|    0|
|       7|    53:59|    101|            9|    0|
|       8|    53:23|    101|            2|    0|
|       9|    51:21|    101|           13|    0|
|      10|    49:55|    101|            1|    1|
|      11|    49:28|    101|            2|    1|
|      12|    48:52|    101|           10|    1|
|      13|    47:52|    101|            4|    1|
|      14|    47:44|    101|            9|    0|
|      15|    46:38|    101|            2|    0|
|      16|    45:49|    101|            1|    1|
|      17|    45:31|    101|            4|    0|
|      18|    43:29|    205|            1|    1|
|      19|    41:54|    205|            1|    1|
|      20|    41:09|    101|            1|    1|
|      21|    41:03|    205|            5|    1|
|      22|    41:02|    101|           13|    0|
|      23|    40:47|    101|           15|    0|
|      24|    40:20|    101|            1|    1|
|      25|    39:09|    101|            9|    0|
|      26|    38:06|    101|            4|    0|
|      27|    38:03|    101|           13|    1|
|      28|    37:48|    205|           15|    1|
|      29|    37:31|    205|           15|    1|
|      30|    37:02|    101|           15|    0|
|      31|    36:31|    205|            2|    0|
|      32|    34:33|    101|            2|    0|
|      33|    34:22|    101|           15|    1|
|      34|    33:15|    101|            4|    0|
|      35|    32:23|    205|            9|    0|
|      36|    31:38|    101|            8|    0|
|      37|    30:45|    101|            6|    0|
|      38|    30:31|    101|           10|    0|
|      39|    30:26|    101|           13|    0|
|      40|    30:07|    101|            8|    0|
|      41|    29:04|    205|           17|    0|
|      42|    27:56|    205|           16|    0|
|      43|    25:56|    205|           22|    0|
|      44|    25:26|    205|            2|    0|
|      45|    25:20|    205|            9|    0|
|      46|    25:17|    101|           13|    0|
|      47|    24:57|    101|            6|    1|
|      48|    23:57|    101|            6|    1|
|      49|    22:36|    205|            9|    0|
|      50|    20:48|    205|           17|    0|
|      51|    20:43|    205|            9|    0|
|      52|    20:22|    101|            1|    1|
|      53|    19:04|    205|            3|    0|
|      54|    18:24|    101|            1|    0|
|      55|    17:23|    205|            1|    1|
|      56|    15:29|    101|            9|    0|
|      57|    13:18|    101|            8|    0|
|      58|    13:12|    101|           10|    0|
|      59|    13:07|    205|            2|    1|
|      60|    12:32|    205|           17|    1|
|      61|    11:33|    101|            2|    0|
+--------+---------+-------+-------------+-----+

In [57]:
# Q4

df_2.createOrReplaceTempView("gamestream")

sql_query = """

SELECT gs.team_ID, gs.jersey_number, COUNT(*) AS shots, SUM(gs.goals) AS goals, tg.team_goals
FROM gamestream gs
JOIN
    (SELECT team_ID, SUM(goals) AS team_goals
         FROM gamestream
         WHERE team_ID > 0
     GROUP BY team_ID) 
tg ON gs.team_ID = tg.team_ID

WHERE gs.team_ID > 0
GROUP BY gs.team_ID, gs.jersey_number, tg.team_goals
ORDER BY gs.team_ID, gs.jersey_number
"""

result = spark.sql(sql_query)

result.show()

+-------+-------------+-----+-----+----------+
|team_ID|jersey_number|shots|goals|team_goals|
+-------+-------------+-----+-----+----------+
|    101|            1|    7|    6|        13|
|    101|            2|    6|    1|        13|
|    101|            4|    5|    1|        13|
|    101|            6|    4|    2|        13|
|    101|            8|    3|    0|        13|
|    101|            9|    4|    0|        13|
|    101|           10|    3|    1|        13|
|    101|           13|    5|    1|        13|
|    101|           15|    3|    1|        13|
|    101|           17|    1|    0|        13|
|    205|            1|    3|    3|         9|
|    205|            2|    3|    1|         9|
|    205|            3|    1|    0|         9|
|    205|            5|    1|    1|         9|
|    205|            8|    2|    1|         9|
|    205|            9|    4|    0|         9|
|    205|           15|    2|    2|         9|
|    205|           16|    1|    0|         9|
|    205|           17|    3|    1|         9|
|    205|           22|    1|    0|         9|
+-------+-------------+-----+-----+----------+

In [58]:
#Q5

from pyspark.sql import functions as func

df_2.createOrReplaceTempView("gamestream")

latest_event_and_timestamp = spark.sql("""
    SELECT 
        MAX(event_id) AS latest_eventid, 
        MAX(timestamp) AS latest_timestamp
    FROM gamestream
    WHERE team_ID != 0
""").collect()[0]

latest_eventid = latest_event_and_timestamp['latest_eventid']
latest_timestamp = latest_event_and_timestamp['latest_timestamp']

result_2 = result.withColumn("latest_eventid", func.lit(latest_eventid))\
                     .withColumn("latest_timestamp", func.lit(latest_timestamp))

result_2.show()

+-------+-------------+-----+-----+----------+--------------+----------------+
|team_ID|jersey_number|shots|goals|team_goals|latest_eventid|latest_timestamp|
+-------+-------------+-----+-----+----------+--------------+----------------+
|    101|            1|    7|    6|        13|            61|           59:51|
|    101|            2|    6|    1|        13|            61|           59:51|
|    101|            4|    5|    1|        13|            61|           59:51|
|    101|            6|    4|    2|        13|            61|           59:51|
|    101|            8|    3|    0|        13|            61|           59:51|
|    101|            9|    4|    0|        13|            61|           59:51|
|    101|           10|    3|    1|        13|            61|           59:51|
|    101|           13|    5|    1|        13|            61|           59:51|
|    101|           15|    3|    1|        13|            61|           59:51|
|    101|           17|    1|    0|        13|            61|           59:51|
|    205|            1|    3|    3|         9|            61|           59:51|
|    205|            2|    3|    1|         9|            61|           59:51|
|    205|            3|    1|    0|         9|            61|           59:51|
|    205|            5|    1|    1|         9|            61|           59:51|
|    205|            8|    2|    1|         9|            61|           59:51|
|    205|            9|    4|    0|         9|            61|           59:51|
|    205|           15|    2|    2|         9|            61|           59:51|
|    205|           16|    1|    0|         9|            61|           59:51|
|    205|           17|    3|    1|         9|            61|           59:51|
|    205|           22|    1|    0|         9|            61|           59:51|
+-------+-------------+-----+-----+----------+--------------+----------------+

In [59]:
# Q6
players_df = spark.read.format("com.microsoft.sqlserver.jdbc.spark") \
    .option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver") \
    .option("url", mssql_url) \
    .option("dbtable", "players") \
    .option("user", mssql_user) \
    .option("password", mssql_pw) \
    .load()

teams_df = spark.read.format("com.microsoft.sqlserver.jdbc.spark") \
    .option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver") \
    .option("url", mssql_url) \
    .option("dbtable", "teams") \
    .option("user", mssql_user) \
    .option("password", mssql_pw) \
    .load()

result.createOrReplaceTempView("result")
players_df.createOrReplaceTempView("players")
teams_df.createOrReplaceTempView("teams")

df_3 = spark.sql("""
SELECT r.*, p.name as player_name, t.name as team_name, t.conference, t.wins, t.losses
FROM result r
LEFT JOIN players p ON p.teamid = r.team_ID AND r.jersey_number = p.number
LEFT JOIN teams t ON r.team_ID = t.id
""")

df_3.show()

+-------+-------------+-----+-----+----------+-----------+-------------+----------+----+------+
|team_ID|jersey_number|shots|goals|team_goals|player_name|    team_name|conference|wins|losses|
+-------+-------------+-----+-----+----------+-----------+-------------+----------+----+------+
|    101|            9|    4|    0|        13|        sol|     syracuse|       acc|  11|     2|
|    101|           10|    3|    1|        13|      swede|     syracuse|       acc|  11|     2|
|    101|            2|    6|    1|        13|      steve|     syracuse|       acc|  11|     2|
|    101|            8|    3|    0|        13|        sly|     syracuse|       acc|  11|     2|
|    101|           13|    5|    1|        13|      stone|     syracuse|       acc|  11|     2|
|    101|            6|    4|    2|        13|        sam|     syracuse|       acc|  11|     2|
|    101|           15|    3|    1|        13|     shelly|     syracuse|       acc|  11|     2|
|    101|            1|    7|    6|        13|      sarah|     syracuse|       acc|  11|     2|
|    101|            4|    5|    1|        13|      shree|     syracuse|       acc|  11|     2|
|    101|           17|    1|    0|        13|       sean|     syracuse|       acc|  11|     2|
|    205|            9|    4|    0|         9|      julie|johns hopkins|     big10|   9|     4|
|    205|            2|    3|    1|         9|      james|johns hopkins|     big10|   9|     4|
|    205|           16|    1|    0|         9|      jimmy|johns hopkins|     big10|   9|     4|
|    205|            3|    1|    0|         9|       jane|johns hopkins|     big10|   9|     4|
|    205|           15|    2|    2|         9|       jane|johns hopkins|     big10|   9|     4|
|    205|            5|    1|    1|         9|      jimmy|johns hopkins|     big10|   9|     4|
|    205|            1|    3|    3|         9|      jimmy|johns hopkins|     big10|   9|     4|
|    205|           22|    1|    0|         9|      julie|johns hopkins|     big10|   9|     4|
|    205|           17|    3|    1|         9|      james|johns hopkins|     big10|   9|     4|
|    205|            8|    2|    1|         9|      julie|johns hopkins|     big10|   9|     4|
+-------+-------------+-----+-----+----------+-----------+-------------+----------+----+------+

In [60]:
# Q7
from pyspark.sql.window import Window
import pyspark.sql.functions as F


team_stats_agg = df_3.groupBy("team_ID").agg(
    F.first("conference").alias("conference"),
    F.first("wins").alias("wins"),
    F.first("losses").alias("losses"),
    F.sum("goals").alias("score"),
    F.collect_list(
        F.struct(
            "jersey_number", 
            "player_name", 
            "shots", 
            "goals",
            F.when(F.col("shots") > 0, F.col("goals") / F.col("shots")).otherwise(F.lit(0)).alias("pct")
        )
    ).alias("players")
)


windowSpec = Window.partitionBy()
team_stats_agg = team_stats_agg.withColumn("max_score", F.max("score").over(windowSpec))


team_stats_agg = team_stats_agg.withColumn(
    "status",
    F.when(F.col("score") == F.col("max_score"), "tied").otherwise(
        F.when(F.col("score") < F.col("max_score"), "losing").otherwise("winning")
    )
).drop("max_score")


home_team_stats = team_stats_agg.filter(F.col("team_ID") == 101)
away_team_stats = team_stats_agg.filter(F.col("team_ID") == 205)

 
home_json = home_team_stats.toJSON().first()
away_json = away_team_stats.toJSON().first()

import json

home_dict = json.loads(home_json)
away_dict = json.loads(away_json)


box_score_document = {
    "_id": latest_eventid,
    "timestamp": latest_timestamp,
    "home": home_dict,
    "away": away_dict
}

print(box_score_document)

{'_id': 61, 'timestamp': '59:51', 'home': {'team_ID': 101, 'conference': 'acc', 'wins': 11, 'losses': 2, 'score': 14, 'players': [{'jersey_number': 9, 'player_name': 'sol', 'shots': 4, 'goals': 0, 'pct': 0.0}, {'jersey_number': 10, 'player_name': 'swede', 'shots': 3, 'goals': 1, 'pct': 0.3333333333333333}, {'jersey_number': 2, 'player_name': 'steve', 'shots': 7, 'goals': 2, 'pct': 0.2857142857142857}, {'jersey_number': 8, 'player_name': 'sly', 'shots': 3, 'goals': 0, 'pct': 0.0}, {'jersey_number': 13, 'player_name': 'stone', 'shots': 5, 'goals': 1, 'pct': 0.2}, {'jersey_number': 6, 'player_name': 'sam', 'shots': 4, 'goals': 2, 'pct': 0.5}, {'jersey_number': 15, 'player_name': 'shelly', 'shots': 3, 'goals': 1, 'pct': 0.3333333333333333}, {'jersey_number': 1, 'player_name': 'sarah', 'shots': 7, 'goals': 6, 'pct': 0.8571428571428571}, {'jersey_number': 4, 'player_name': 'shree', 'shots': 5, 'goals': 1, 'pct': 0.2}, {'jersey_number': 17, 'player_name': 'sean', 'shots': 1, 'goals': 0, 'pct': 0.0}], 'status': 'tied'}, 'away': {'team_ID': 205, 'conference': 'big10', 'wins': 9, 'losses': 4, 'score': 9, 'players': [{'jersey_number': 9, 'player_name': 'julie', 'shots': 4, 'goals': 0, 'pct': 0.0}, {'jersey_number': 2, 'player_name': 'james', 'shots': 3, 'goals': 1, 'pct': 0.3333333333333333}, {'jersey_number': 16, 'player_name': 'jimmy', 'shots': 1, 'goals': 0, 'pct': 0.0}, {'jersey_number': 3, 'player_name': 'jane', 'shots': 1, 'goals': 0, 'pct': 0.0}, {'jersey_number': 15, 'player_name': 'jane', 'shots': 2, 'goals': 2, 'pct': 1.0}, {'jersey_number': 5, 'player_name': 'jimmy', 'shots': 1, 'goals': 1, 'pct': 1.0}, {'jersey_number': 1, 'player_name': 'jimmy', 'shots': 3, 'goals': 3, 'pct': 1.0}, {'jersey_number': 22, 'player_name': 'julie', 'shots': 1, 'goals': 0, 'pct': 0.0}, {'jersey_number': 17, 'player_name': 'james', 'shots': 3, 'goals': 1, 'pct': 0.3333333333333333}, {'jersey_number': 8, 'player_name': 'julie', 'shots': 2, 'goals': 1, 'pct': 0.5}], 'status': 'losing'}}

In [65]:
# Q8
import json

json_boxscore = json.dumps(box_score_document)
df_boxscores = spark.read.json(spark.sparkContext.parallelize([box_score_json]))

df_boxscores.write.format("mongo") \
    .option("database", "sidearm") \
    .option("collection", "boxscores") \
    .mode("append") \
    .save()

In [66]:
# Q9

df_2.createOrReplaceTempView("gamestream")

sql_query = """

SELECT gs.team_ID, gs.jersey_number, COUNT(*) AS shots, SUM(gs.goals) AS goals, tg.team_goals
FROM gamestream gs
JOIN
    (SELECT team_ID, SUM(goals) AS team_goals
         FROM gamestream
         WHERE team_ID > 0
     GROUP BY team_ID) 
tg ON gs.team_ID = tg.team_ID

WHERE gs.team_ID > 0
GROUP BY gs.team_ID, gs.jersey_number, tg.team_goals
ORDER BY gs.team_ID, gs.jersey_number
"""

result = spark.sql(sql_query)


from pyspark.sql import functions as func

df_2.createOrReplaceTempView("gamestream")

latest_event_and_timestamp = spark.sql("""
    SELECT 
        MAX(event_id) AS latest_eventid, 
        MAX(timestamp) AS latest_timestamp
    FROM gamestream
    WHERE team_ID != 0
""").collect()[0]

latest_eventid = latest_event_and_timestamp['latest_eventid']
latest_timestamp = latest_event_and_timestamp['latest_timestamp']

result_2 = result.withColumn("latest_eventid", func.lit(latest_eventid))\
                     .withColumn("latest_timestamp", func.lit(latest_timestamp))


players_df = spark.read.format("com.microsoft.sqlserver.jdbc.spark") \
    .option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver") \
    .option("url", mssql_url) \
    .option("dbtable", "players") \
    .option("user", mssql_user) \
    .option("password", mssql_pw) \
    .load()

teams_df = spark.read.format("com.microsoft.sqlserver.jdbc.spark") \
    .option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver") \
    .option("url", mssql_url) \
    .option("dbtable", "teams") \
    .option("user", mssql_user) \
    .option("password", mssql_pw) \
    .load()

result.createOrReplaceTempView("result")
players_df.createOrReplaceTempView("players")
teams_df.createOrReplaceTempView("teams")

df_3 = spark.sql("""
SELECT r.*, p.name as player_name, t.name as team_name, t.conference, t.wins, t.losses
FROM result r
LEFT JOIN players p ON p.teamid = r.team_ID AND r.jersey_number = p.number
LEFT JOIN teams t ON r.team_ID = t.id
""")

from pyspark.sql.window import Window
import pyspark.sql.functions as F

team_stats_agg = df_3.groupBy("team_ID").agg(
    F.first("conference").alias("conference"),
    F.first("wins").alias("wins"),
    F.first("losses").alias("losses"),
    F.sum("goals").alias("score"),
    F.collect_list(
        F.struct(
            "jersey_number", 
            "player_name", 
            "shots", 
            "goals",
            F.when(F.col("shots") > 0, F.col("goals") / F.col("shots")).otherwise(F.lit(0)).alias("pct")
        )
    ).alias("players")
)

# Calculate max score over each partition
windowSpec = Window.partitionBy()
team_stats_agg = team_stats_agg.withColumn("max_score", F.max("score").over(windowSpec))

team_stats_agg = team_stats_agg.withColumn(
    "status",
    F.when(F.col("score") == F.col("max_score"), "tied").otherwise(
        F.when(F.col("score") < F.col("max_score"), "losing").otherwise("winning")
    )
).drop("max_score")

# Filter for specific teams
home_team_stats = team_stats_agg.filter(F.col("team_ID") == 101)
away_team_stats = team_stats_agg.filter(F.col("team_ID") == 205)

import json

home_dict = json.loads(home_json)
away_dict = json.loads(away_json)


box_score_document = {
    "_id": latest_eventid,
    "timestamp": latest_timestamp,
    "home": home_dict,
    "away": away_dict
}

print(box_score_document)

{'_id': 62, 'timestamp': '59:51', 'home': {'team_ID': 101, 'conference': 'acc', 'wins': 11, 'losses': 2, 'score': 14, 'players': [{'jersey_number': 9, 'player_name': 'sol', 'shots': 4, 'goals': 0, 'pct': 0.0}, {'jersey_number': 10, 'player_name': 'swede', 'shots': 3, 'goals': 1, 'pct': 0.3333333333333333}, {'jersey_number': 2, 'player_name': 'steve', 'shots': 7, 'goals': 2, 'pct': 0.2857142857142857}, {'jersey_number': 8, 'player_name': 'sly', 'shots': 3, 'goals': 0, 'pct': 0.0}, {'jersey_number': 13, 'player_name': 'stone', 'shots': 5, 'goals': 1, 'pct': 0.2}, {'jersey_number': 6, 'player_name': 'sam', 'shots': 4, 'goals': 2, 'pct': 0.5}, {'jersey_number': 15, 'player_name': 'shelly', 'shots': 3, 'goals': 1, 'pct': 0.3333333333333333}, {'jersey_number': 1, 'player_name': 'sarah', 'shots': 7, 'goals': 6, 'pct': 0.8571428571428571}, {'jersey_number': 4, 'player_name': 'shree', 'shots': 5, 'goals': 1, 'pct': 0.2}, {'jersey_number': 17, 'player_name': 'sean', 'shots': 1, 'goals': 0, 'pct': 0.0}], 'status': 'tied'}, 'away': {'team_ID': 205, 'conference': 'big10', 'wins': 9, 'losses': 4, 'score': 9, 'players': [{'jersey_number': 9, 'player_name': 'julie', 'shots': 4, 'goals': 0, 'pct': 0.0}, {'jersey_number': 2, 'player_name': 'james', 'shots': 3, 'goals': 1, 'pct': 0.3333333333333333}, {'jersey_number': 16, 'player_name': 'jimmy', 'shots': 1, 'goals': 0, 'pct': 0.0}, {'jersey_number': 3, 'player_name': 'jane', 'shots': 1, 'goals': 0, 'pct': 0.0}, {'jersey_number': 15, 'player_name': 'jane', 'shots': 2, 'goals': 2, 'pct': 1.0}, {'jersey_number': 5, 'player_name': 'jimmy', 'shots': 1, 'goals': 1, 'pct': 1.0}, {'jersey_number': 1, 'player_name': 'jimmy', 'shots': 3, 'goals': 3, 'pct': 1.0}, {'jersey_number': 22, 'player_name': 'julie', 'shots': 1, 'goals': 0, 'pct': 0.0}, {'jersey_number': 17, 'player_name': 'james', 'shots': 3, 'goals': 1, 'pct': 0.3333333333333333}, {'jersey_number': 8, 'player_name': 'julie', 'shots': 2, 'goals': 1, 'pct': 0.5}], 'status': 'losing'}}

#10Q
SELECT * FROM mongo.sidearm.boxscores where _id = (SELECT MAX(_id) FROM mongo.sidearm.boxscores)

In [70]:
#Q11
# Extracting the status of both teams from the box score JSON document
home_status = box_score_document["home"]["status"]
away_status = box_score_document["away"]["status"]

def modify_team_records(teams_df, team_id_val, team_status):
    updated_teams_df = teams_df.withColumn(
        'updated_wins', 
        F.when((F.col('id') == team_id_val) & (F.lit(team_status) == 'winning'), F.col('wins') + 1)
        .otherwise(F.col('wins'))
    ).withColumn(
        'updated_losses', 
        F.when((F.col('id') == team_id_val) & (F.lit(team_status) == 'losing'), F.col('losses') + 1)
        .otherwise(F.col('losses'))
    )
    return updated_teams_df

# Updating team statistics based on the status
df_teams_updated = modify_team_records(teams_df, 101, home_status)
df_teams_updated = modify_team_records(teams_df, 205, away_status)

df_teams_updated.show()

+---+-------------+----------+----+------+------------+--------------+
| id|         name|conference|wins|losses|updated_wins|updated_losses|
+---+-------------+----------+----+------+------------+--------------+
|101|     syracuse|       acc|  11|     2|          11|             2|
|205|johns hopkins|     big10|   9|     4|           9|             5|
+---+-------------+----------+----+------+------------+--------------+

In [71]:
# Q12
df_teams_updated.write.format("com.microsoft.sqlserver.jdbc.spark") \
    .option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver") \
    .option("url", mssql_url) \
    .option("dbtable", "teams2") \
    .option("user", mssql_user) \
    .option("password", mssql_pw) \
    .mode("overwrite") \
    .save()

In [74]:
# Q13
new_stats = players_df.alias('players').join(
    df_3.alias('new_stats'),
    (players_df['name'] == df_3['player_name']) & 
    (players_df['number'] == df_3['jersey_number']),
    'left'
)

new_stats.show()

+---+------+------+-----+-----+------+-------+-------------+-----+-----+----------+-----------+-------------+----------+----+------+
| id|  name|number|shots|goals|teamid|team_ID|jersey_number|shots|goals|team_goals|player_name|    team_name|conference|wins|losses|
+---+------+------+-----+-----+------+-------+-------------+-----+-----+----------+-----------+-------------+----------+----+------+
| 10| swede|    10|   90|   50|   101|    101|           10|    3|    1|        14|      swede|     syracuse|       acc|  11|     2|
|  7|   sol|     9|   52|   20|   101|    101|            9|    4|    0|        14|        sol|     syracuse|       acc|  11|     2|
| 20| julie|    22|   83|   19|   205|    205|           22|    1|    0|         9|      julie|johns hopkins|     big10|   9|     4|
|  3| steve|     2|   60|   20|   101|    101|            2|    7|    2|        14|      steve|     syracuse|       acc|  11|     2|
| 14|  jane|    15|   82|   46|   205|    205|           15|    2|    2|         9|       jane|johns hopkins|     big10|   9|     4|
|  2| sarah|     1|   85|   34|   101|    101|            1|    7|    6|        14|      sarah|     syracuse|       acc|  11|     2|
|  9|shelly|    15|   10|    2|   101|    101|           15|    3|    1|        14|     shelly|     syracuse|       acc|  11|     2|
| 18|  jane|     3|   91|   40|   205|    205|            3|    1|    0|         9|       jane|johns hopkins|     big10|   9|     4|
| 12| julie|     9|   10|    0|   205|    205|            9|    4|    0|         9|      julie|johns hopkins|     big10|   9|     4|
| 15| jimmy|    16|   42|   30|   205|    205|           16|    1|    0|         9|      jimmy|johns hopkins|     big10|   9|     4|
| 19| jimmy|     5|   78|   22|   205|    205|            5|    1|    1|         9|      jimmy|johns hopkins|     big10|   9|     4|
|  5|  sean|    17|   26|    9|   101|    101|           17|    1|    0|        14|       sean|     syracuse|       acc|  11|     2|
| 11| jimmy|     1|  100|   50|   205|    205|            1|    3|    3|         9|      jimmy|johns hopkins|     big10|   9|     4|
|  1|   sam|     6|   56|   23|   101|    101|            6|    4|    2|        14|        sam|     syracuse|       acc|  11|     2|
|  4| stone|    13|   33|   10|   101|    101|           13|    5|    1|        14|      stone|     syracuse|       acc|  11|     2|
| 13| james|     2|   45|   15|   205|    205|            2|    3|    1|         9|      james|johns hopkins|     big10|   9|     4|
|  6|   sly|     8|   78|   15|   101|    101|            8|    3|    0|        14|        sly|     syracuse|       acc|  11|     2|
|  8| shree|     4|   20|    4|   101|    101|            4|    5|    1|        14|      shree|     syracuse|       acc|  11|     2|
| 17| james|    17|   40|   14|   205|    205|           17|    3|    1|         9|      james|johns hopkins|     big10|   9|     4|
| 16| julie|     8|   67|   32|   205|    205|            8|    2|    1|         9|      julie|johns hopkins|     big10|   9|     4|
+---+------+------+-----+-----+------+-------+-------------+-----+-----+----------+-----------+-------------+----------+----+------+

In [78]:
new_stats = new_stats.select('players.id', 'players.name', 'players.number',
    (F.col('players.shots') + F.coalesce(F.col('new_stats.shots'), F.lit(0))).alias('shots'),
    (F.col('players.goals') + F.coalesce(F.col('new_stats.goals'), F.lit(0))).alias('goals'),'players.teamid')
new_stats.show()

+---+------+------+-----+-----+------+
| id|  name|number|shots|goals|teamid|
+---+------+------+-----+-----+------+
| 10| swede|    10|   93|   51|   101|
|  7|   sol|     9|   56|   20|   101|
| 20| julie|    22|   84|   19|   205|
|  3| steve|     2|   67|   22|   101|
| 14|  jane|    15|   84|   48|   205|
|  2| sarah|     1|   92|   40|   101|
|  9|shelly|    15|   13|    3|   101|
| 18|  jane|     3|   92|   40|   205|
| 12| julie|     9|   14|    0|   205|
| 15| jimmy|    16|   43|   30|   205|
| 19| jimmy|     5|   79|   23|   205|
|  5|  sean|    17|   27|    9|   101|
| 11| jimmy|     1|  103|   53|   205|
|  1|   sam|     6|   60|   25|   101|
|  4| stone|    13|   38|   11|   101|
| 13| james|     2|   48|   16|   205|
|  6|   sly|     8|   81|   15|   101|
|  8| shree|     4|   25|    5|   101|
| 17| james|    17|   43|   15|   205|
| 16| julie|     8|   69|   33|   205|
+---+------+------+-----+-----+------+

In [79]:
# Q14
new_stats.write.format("com.microsoft.sqlserver.jdbc.spark") \
    .option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver") \
    .option("url", mssql_url) \
    .option("dbtable", "players2") \
    .option("user", mssql_user) \
    .option("password", mssql_pw) \
    .mode("overwrite") \
    .save()

# Q15
SELECT t.name, t.wins, t.losses, p.name, p.shots, p.goals
FROM players2 p
join teams2 t on p.teamid = t.id